[submodule "semestral_work"]
	path = second_semester/pjv/semestral_work
	url = git@gitlab.fel.cvut.cz:B242_B0B36PJV/kolomcon.git
[submodule "./second_semester/pjv/semestral_work"]
	path = second_semester/pjv/semestral_work
	url = https://gitlab.fel.cvut.cz/B242_B0B36PJV/kolomcon.git
